@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
}

h3 {
    background: -webkit-linear-gradient(#ff7954, #01084f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pacifico;
    font-size: 4em;
    line-height: 2;
    margin-bottom: 1em;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li a {
    color: #a73c5a;
    font-family: sans-serif;
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

li img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    max-width: 20vw;
}

.attribution {
    bottom: 0;
    color: white;
    font-family: sans-serif;
    left: 0;
    margin: 2em;
    position: fixed;
    z-index: 9999;
}

.back-button {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    left: 0;
    padding: 1em;
    position: fixed;
    text-decoration: none;
    top: 0;
    z-index: 999;
}

.scene {
    height: 75%;
}

.projects {
    margin: 0 auto;
    padding-top: 4em;
    width: 80%;
}

.modal {
    display: none;
    height: 100vh;
    padding-top: 3em;
    position: fixed;
    text-align: center;
    width: 100vw;
    z-index: 500;
}

.modal h1 {
    color: white;
    font-family: Pacifico;
    font-size: 4em;
    margin-bottom: 1em;
}

.modal h2 {
    color: white;
    font-family: Pacifico;
    font-size: 2em;
}

#modal-fail {
    background: orange;
}
  
#modal-win {
    background: green;
}

#modal-fail .button {
    background-color: #E06500;
    border: none;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 2em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}